$primary:       #17E8B0;
$primary-dark:  #02a87c;
$white:         #FFFFFF;

$bg-white:      #F9F9F9;

$grey1:         #EDEDED;
$grey2:         #F3F3F3;
$grey3:         #9d9d9d;
$black:         #5C5C5C;